/* .hero-bg-1 {
  background: url(../../assets/hero/img1.jpeg);
}
.hero-bg-2 {
  background: url(../../assets/hero/img2.jpg);
}
.hero-bg-3 {
  background: url(../../assets/hero/img3.jpg);
} */

.hero-bg {
  height: 100vh;
  width: 100%;
  background-color: white;
  position: relative;
  z-index: 1;
}

.hero-content {
  height: 85vh;
}

.hero-font {
  font-size: clamp(1.5rem, 1.5rem + 2vw, 3rem);
  color: #155263 !important;
}
.home-about-text,
.hero-text {
  font-size: clamp(1rem, 0.8rem + 0.5vw, 1.5rem);
  color: black !important;
}

.play-button {
  transition: 0.3s ease;
}
.play-button {
  background-color: orange;
  aspect-ratio: 1/1;
}
.reques-button,
.play-button {
  background-color: #155263;
  cursor: pointer;
  color: white;
}
